<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
	
    <h:head>
        <title>Entidades</title>
    </h:head>
    <h:body>
    	<ui:include src="navbar.xhtml"></ui:include>
		<b:modal id="amodal" title="Crear Entidad">
			<b:form>
    			<b:inputText label="Identificación:" labelStyle="width:120px;" fieldSize="large"/>
        		<br/>
        		<b:inputText label="Nombre:" labelStyle="width:120px;" fieldSize="large"/>
    		</b:form>
    		<f:facet name="footer">
        		<b:button value="Cerrar" dismiss="modal" />
        		<b:button value="Guardar" look="primary" dismiss="modal" />
    		</f:facet>
		</b:modal>
        <b:container>
            <b:row>
                <b:column span="12">
                    <b:form inline="true">
                    	<h3>
                    		Entidades
                    		<b:button icon="plus" look="success" p:data-target="#amodal" p:data-toggle="modal"/>
                    	</h3>
                		<hr/>
                    	<b:dataTable value="#{sampleController.sample}" var="spl" span="12">
                    		<b:dataTableColumn value="#{spl}" label="Identificación"/>
        					<b:dataTableColumn value="#{spl}" label="Nombre"/>
        					<b:dataTableColumn label="Opciones">
        						<b:commandButton icon="edit" look="warning"/>
        						&#160;
        						<b:commandButton icon="trash" look="danger"/>
        					</b:dataTableColumn>
                    	</b:dataTable>
                    </b:form>
                </b:column>
            </b:row>
        </b:container>
    </h:body>
</html>