<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk">
    <h:head>
    	<title>Importar</title>
    </h:head>
    <h:body>
    	<ui:include src="navbar.xhtml"></ui:include>
    	<b:growl id="growl" globalOnly="true" showDetail="true" allow-dismiss="true"/>
    	<b:container>
    		<b:row>
    			<b:column span="12">
    				<h4>Importar archivos</h4>
    				<hr/>
    				<h:form enctype="multipart/form-data">
            			<t:inputFileUpload value="#{importController.uploadedFile}" />
            			<br/>
            			<b:progressBar value="100" animated="true"/>
            			<br/>
            			<b:commandButton value="Subir" look="primary" action="#{importController.submit}" />
        			</h:form>
    			</b:column>
    		</b:row>
    	</b:container>
    </h:body>
</html>