<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
	
	<f:metadata>
  		<f:event type="preRenderView" listener="#{indexController.loadAssets()}"/>
	</f:metadata>
	
    <h:head>
        <title>Index</title>
    </h:head>
    <h:body>
    	<ui:include src="navbar.xhtml"></ui:include>
    	<b:modal id="simulationModal" title="Simulación" size="modal-lg">
    		<b:form id="simulationForm">
    			<b:panel>
    				<f:facet name="heading">
    					<h:outputText value="Información del pagaré"/>
    					<i class="fa fa-info-circle" style="margin-left:10px" />
    				</f:facet>
    				<b:row>
    					<b:column span="6">
    						<b:inputText label="Pagaré" fieldSize="large" value="#{indexController.asset.assetid}" readonly="true"/>
    						<br/>
    						<b:inputText label="Coutas Pendientes" fieldSize="large" value="#{indexController.asset.pendingpayments}" readonly="true"/>
    						<br/>
    						<b:inputText label="Valor Cuota" fieldSize="large" value="#{indexController.asset.payment}" readonly="true"/>
    					</b:column>
    				
						<b:column span="6">
    						<b:inputText label="Saldo" fieldSize="large" value="#{indexController.asset.balance}" readonly="true"/>
    						<br/>
    						<b:inputText label="Valor Presente" fieldSize="large" value="#{indexController.asset.npv}" readonly="true"/>
    						<br/>
    						<b:inputText label="Diferencia" fieldSize="large" value="#{indexController.asset.difference}" readonly="true"/>
    					</b:column>
    				</b:row>
    				<b:row>
    					<b:column span="12">
    						<b:inputText label="Castigo" fieldSize="large" value="" readonly="true"/>
    					</b:column>
    				</b:row>
    			</b:panel>
    			<br/>
    			<b:dataTable value="#{indexController.simulation}" var="tempSimulation">
    				<f:facet name="header">
    					<tr>
    						<th colspan="12">Total VPN: #{indexController.asset.npv}</th>
    					</tr>
    					<tr>
    						<th colspan="12">Total Castigo: </th>
    					</tr>
    					<tr>
    						<th>Cuota</th>
    						<th>Abono Capital</th>
    						<th>Abono Intereses</th>
    						<th>Saldo</th>
    						<th>Cuota Total</th>
    						<th>VPN</th>
    					</tr>
    				</f:facet>
    				<b:dataTableColumn value="#{tempSimulation.number}"/>
    				<b:dataTableColumn value="#{tempSimulation.principal}"/>
    				<b:dataTableColumn value="#{tempSimulation.interest}"/>
    				<b:dataTableColumn value="#{tempSimulation.newbalance}"/>
    				<b:dataTableColumn value="#{tempSimulation.total}"/>
    				<b:dataTableColumn value="#{tempSimulation.npv}"/>
    			</b:dataTable>
    			<br/>
    			<b:panel>
    				<f:facet name="heading">
    					<h:outputText value="Informacion adicional"/>
    					<i class="fa fa-info-circle" style="margin-left:10px" />
    				</f:facet>
    				<b:column span="12">
    					<ui:repeat var="tempExtra" value="#{indexController.extraFields}">
    						<b:inputText label="#{tempExtra.name}" fieldSize="large" value="#{tempExtra.text}" readonly="true" span="3"/>
    					</ui:repeat>
    				</b:column>
    			</b:panel>
    		</b:form>
    	</b:modal>
        <b:container>
            <b:row>
                <b:column span="12">
                    <b:form horizontal="true">
       					<h3>Consulta individual</h3>
       					<hr/>
       				</b:form>
                </b:column>
            </b:row>
            <b:row>
            	<b:column>
       				<b:messages globalOnly="true"/>
       				<b:form>
            			<b:dataTable col-sm="12" value="#{indexController.assets}" var="tempAsset" id="assetsTable">
            				<b:dataTableColumn value="#{tempAsset.assetid}" label="Pagaré"/>
        					<b:dataTableColumn value="#{tempAsset.pendingpayments}" label="Cuotas Pendientes"/>
        					<b:dataTableColumn value="#{tempAsset.payment}" label="Valor Cuota"/>  
        					<b:dataTableColumn value="#{tempAsset.balance}" label="Saldo"/>
        					<b:dataTableColumn value="#{tempAsset.npv}" label="Valor Presente"/>
        					<b:dataTableColumn value="#{tempAsset.difference}" label="Diferencia"/>
        					<b:dataTableColumn label="Simulación">
        						<b:commandButton action="#{indexController.loadAsset(tempAsset)}" look="info" icon-awesome="eye" p:data-target="#simulationModal" p:data-toggle="modal">
        							<f:ajax execute="@this" render="simulationForm" />
        						</b:commandButton>
        					</b:dataTableColumn>
            			</b:dataTable>
            		</b:form>
            	</b:column>
            </b:row>
        </b:container>
    </h:body>
</html>