<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
    <h:head>
    </h:head>
    <h:body>
    	<b:navBar brandHref="#" brandImg="../resources/img/logo.png" brand-img-style="margin-top: -16px; width: 100px; height: 80px;">
    		<b:navbarLinks>
        		<b:navLink value="Consulta Individual" href="index.xhtml"></b:navLink>
        		<b:navLink value="Entidades" href="entity.xhtml"></b:navLink>
        		<b:navLink value="Usuarios" href="user.xhtml"></b:navLink>
        		<b:navLink value="Politicas" href="policies.xhtml"></b:navLink>
        		<b:navLink value="Proyectos" href="project.xhtml"></b:navLink>
        		<b:navLink value="Portafolio" href="portfolio.xhtml"></b:navLink>
        		<b:navLink value="Importar Archivos" href="import.xhtml"></b:navLink>
    		</b:navbarLinks>
		</b:navBar>
    </h:body>
</html>