<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
	<f:metadata>
  		<f:event type="preRenderView" listener="#{policiesController.loadPolicies()}"/>
	</f:metadata>	

    <h:head>
        <title>Políticas</title>
    </h:head>
    <h:body>
    	<!--  navbar  -->
    	<ui:include src="navbar.xhtml"></ui:include>
		<!-- Add Modal -->
		<b:modal id="addModal" title="Crear Política">
			<b:form id="add" >
				<b:inputText label="Id:" fieldSize="large" value="#{policy.id}" id="id"/>
                <br/>
    			<b:inputText label="Nombre:" fieldSize="large" value="#{policy.name}" id="name"/>
                <br/>
                <b:inputText label="Prioridad:" fieldSize="large" value="#{policy.priority}" id="priority"/>
                <br/>
                <b:inputText label="Porcentaje de castigo:" fieldSize="large" value="#{policy.rate}" id="rate">
                	<f:facet name="append">
                		<h:outputText value="%" />
            		</f:facet>
                </b:inputText>
                <br/>
                <b:inputText label="Formula:" fieldSize="large" value="#{policy.formula}" id="formula"/>
				<hr/>
				<b:row>
					<b:column span="12">
    					<b:button value="Cerrar" dismiss="modal" icon="remove"/>
    					&#160;
        				<b:commandButton value="Guardar" look="primary" action="#{policiesController.addPolicy(policy)}" icon="ok"/>
    				</b:column>
    			</b:row>
    		</b:form>
		</b:modal>
		<!-- Update Modal -->
		<b:modal id="updateModal" title="Actualizar Política">
			<b:form id="updateForm">
    			<b:inputText label="Nombre:" fieldSize="large" value="#{policiesController.edit.name}"/>
                <br/>
                <b:inputText label="Prioridad:" fieldSize="large" value="#{policiesController.edit.priority}"/>
                <br/>
                <b:inputText label="Porcentaje de castigo:" fieldSize="large" value="#{policiesController.edit.rate}">
                	<f:facet name="append">
                		<h:outputText value="%" />
            		</f:facet>
                </b:inputText>
                <br/>
                <b:inputText label="Formula:" fieldSize="large" value="#{policiesController.edit.formula}"/>
                <hr/>
				<b:row>
					<b:column span="12">
    					<b:button value="Cerrar" dismiss="modal" icon="remove"/>
    					&#160;
        				<b:commandButton value="Guardar" look="primary" icon="ok" action="#{policiesController.updatePolicy(policiesController.edit)}"/>
    				</b:column>
    			</b:row>
    		</b:form>
		</b:modal>
		
		<b:container>
            <b:row>
                <b:column span="12">
                    <b:form inline="true">
                    	<h3>
                    		Políticas
                    		<b:button icon="plus" look="success" p:data-target="#addModal" p:data-toggle="modal"/>
                    	</h3>
                		<hr/>
                		<b:growl id="growl" globalOnly="true" showDetail="true" allow-dismiss="true"/>
                    	<br/>
                    	<b:dataTable col-sm="12" value="#{policiesController.policies}" var="tempPolicy" id="policiesTable">
        					<b:dataTableColumn value="#{tempPolicy.name}" label="Nombre"/>
        					<b:dataTableColumn value="#{tempPolicy.priority}" label="Prioridad"/>
        					<b:dataTableColumn value="#{tempPolicy.rate}" label="% Castigo"/>  
        					<b:dataTableColumn value="#{tempPolicy.formula}" label="Formula"/>  						
       						<b:dataTableColumn label="Opciones">
       							<b:commandButton icon="edit" look="warning" p:data-target="#updateModal" p:data-toggle="modal" action="#{policiesController.loadPolicy(tempPolicy)}">
       								<f:ajax execute="@this" render="updateForm" />
       							</b:commandButton>
       							&#160;
       							<b:commandButton icon="trash" look="danger" action="#{policiesController.deletePolicy(tempPolicy.id)}"/>
       						</b:dataTableColumn>
                   		</b:dataTable>
                    </b:form>
                </b:column>
            </b:row>
        </b:container>
    </h:body>
</html>