<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
	
    <h:head>
        <title>Portafolio</title>
    </h:head>
    <h:body>
   		<ui:include src="navbar.xhtml"></ui:include>
		<b:modal id="amodal" title="Crear Portafolio">
			<b:form>
    			<b:inputText label="Número del pagaré:" fieldSize="large"/>
                <br/>
                <b:inputText label="Identificación del cliente:" fieldSize="large"/>
                <br/>
                <b:inputText label="Nombre del cliente:" fieldSize="large"/>
                <br/>
                <b:inputText label="Monto del pagaré:" fieldSize="large">
                    <f:facet name="append">
                		<h:outputText value="COP" />
            		</f:facet>
                </b:inputText>
                <br/>
                <b:inputText label="Plazo" fieldSize="large">
                <f:facet name="append">
                	<h:outputText value="Meses" />
            	</f:facet>
                </b:inputText>
                <br/>
                <b:inputText label="Saldo actualizado:" fieldSize="large">
                    <f:facet name="append">
                		<h:outputText value="COP" />
            		</f:facet>
                 </b:inputText>
                 <br/>
                 <b:inputText label="Días de mora:" fieldSize="large"/>
                 <br/>
                 <b:inputText label="Tasa de interes:" fieldSize="large">
                    <f:facet name="append">
                		<h:outputText value="%" />
            		</f:facet>
                 </b:inputText>
                 <br/>
                 <b:inputText label="Cuota:" fieldSize="large"/>
                 <br/>
                 <b:inputText label="Cuotas pendientes:" fieldSize="large"/>
                 <br/>
                 <b:inputText label="Cuotas pagadas:" fieldSize="large"/>
                 <br/>
                 <b:inputText label="Cuota:" fieldSize="large">
                    <f:facet name="append">
                		<h:outputText value="COP" />
            		</f:facet>
            	</b:inputText>
    		</b:form>
    		<f:facet name="footer">
        		<b:button value="Cerrar" dismiss="modal" />
        		<b:button value="Guardar" look="primary" dismiss="modal" />
    		</f:facet>
		</b:modal>
        <b:container>
            <b:row>
                <b:column span="12">
                    <b:form inline="true">
                    	<h3>
                    		Portafolio
                    		<b:button icon="plus" look="success" p:data-target="#amodal" p:data-toggle="modal"/>
                    	</h3>
                		<hr/>
                    	<b:dataTable value="#{sampleController.sample}" var="spl" col-sm="12">
        					<b:dataTableColumn value="#{spl}" label="# Pagaré"/>
        					<b:dataTableColumn value="#{spl}" label="Cliente id"/>
        					<b:dataTableColumn value="#{spl}" label="Monto pagaré (COP)"/>
        					<b:dataTableColumn value="#{spl}" label="Plazo (Meses)"/> 
        					<b:dataTableColumn value="#{spl}" label="Saldo Act (COP)"/> 
        					<b:dataTableColumn value="#{spl}" label="Días de mora"/>
        					<b:dataTableColumn value="#{spl}" label="Tasa de interes"/>
        					<b:dataTableColumn value="#{spl}" label="Cuota (COP)"/>
        					<b:dataTableColumn value="#{spl}" label="Cuotas pendientes"/> 
        					<b:dataTableColumn value="#{spl}" label="Abonos"/>    						
        					<b:dataTableColumn label="Opciones">
        						<b:commandButton icon="edit" look="warning"/>
        						&#160;
        						<b:commandButton icon="trash" look="danger"/>
        					</b:dataTableColumn>
                    	</b:dataTable>
                    </b:form>
                </b:column>
            </b:row>
        </b:container>
    </h:body>
</html>