<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">
	
    <h:head>
        <title>Usuarios</title>
    </h:head>
    <h:body>
    	<ui:include src="navbar.xhtml"></ui:include>
		<b:modal id="amodal" title="Crear Usuario">
			<b:form>
    			<b:inputText label="Identificación:" fieldSize="large"/>
                <br/>
                <b:inputText label="Nombre de usuario:" fieldSize="large"/>
                <br/>
                <b:selectOneMenu label="Rol:"> 
                   <f:selectItem itemLabel="-- ROL --" itemValue="none"/>		
                </b:selectOneMenu>
                <br/>
                <b:selectOneMenu label="Entidad:">
                   <f:selectItem itemLabel="-- Entity --" itemValue="none"/>		
                </b:selectOneMenu>
                <br/>
                <b:inputText label="Email:" fieldSize="large"/>
                <br/>
                <b:inputText label="Clave:" fieldSize="large" type="password"/>
                <br/>
                <b:inputText label="Confirmación de clave" fieldSize="large" type="password"/>
    		</b:form>
    		<f:facet name="footer">
        		<b:button value="Cerrar" dismiss="modal" />
        		<b:button value="Guardar" look="primary" dismiss="modal" />
    		</f:facet>
		</b:modal>
        <b:container>
            <b:row>
                <b:column span="12">
                    <b:form inline="true">
                    	<h3>
                    		Usuarios
                    		<b:button icon="plus" look="success" p:data-target="#amodal" p:data-toggle="modal"/>
                    	</h3>
                		<hr/>
                    	<b:dataTable value="#{sampleController.sample}" var="spl" col-sm="12">
        					<b:dataTableColumn value="#{spl}" label="Usuario"/>
        					<b:dataTableColumn value="#{spl}" label="Rol"/>
        					<b:dataTableColumn value="#{spl}" label="Entidad"/>    						
        					<b:dataTableColumn label="Opciones">
        						<b:commandButton icon="edit" look="warning"/>
        						&#160;
        						<b:commandButton icon="trash" look="danger"/>
        					</b:dataTableColumn>
                    	</b:dataTable>
                    </b:form>
                </b:column>
            </b:row>
        </b:container>
    </h:body>
</html>